@import "tailwindcss";

/* to use tailwind custom css variable for color for example bg-[var(--lavender)] */
/* :root{
    --lavender:#67677C
} */


@theme {
--color-lavender:#67677C;
--color-warm-ivory:#F8F6F2;
--color-champagne:#E8DCC7;
--color-dusty-rose:#C9A3A3;
--color-slate-lavender:#67677C;
--color-charcoal:#3E3E38;
--color-cream:#FAF8F5;
--color-sand:#DDD3C2;
--color-warm-gray:#B9B4A6;
--color-dark-charcoal:#3F3F39;
}
 